<div class="flex flex-col items-center p-6 m-4 hover:bg-[#009687] rounded-2xl cursor-pointer">
  <!-- Circle image -->
  <div class="w-32 h-32 rounded-full border-4 border-[#009687] overflow-hidden flex items-center justify-center bg-gray-100 p-2">
  <img src="https://th.bing.com/th?id=OIF.PsxfCVn4eSHK3i%2bN8JbkDQ&w=219&h=220&c=7&r=0&o=7&pid=1.7&rm=3" 
       alt="Viandes" 
       class="object-cover w-full h-full rounded-full" />
</div>


  <!-- Label -->
  <h6 class="mt-4 text-lg font-semibold text-gray-800">
    Viandes
  </h6>
</div>
